@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Quicksand&family=Tillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tillana&display=swap');
:root{
  --principal-color:#0B132E;
  --secundario-color:#30F0FC;
  -color-universal:#0B132E;
}
@keyframes contacto_enviar-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
@keyframes contacto_enviar-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}
@keyframes contacto_enviar-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
@keyframes contacto_enviar-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}
@keyframes movimientopresentacion{
  from{
    margin-left:100%;
    width:300%;
  }
  to{
    margin-left:0;
    width:100%;
  }
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #0B132E;
    color: white;
}

.encabezado{
    width: 100%;
    background-color: #0B132E;
    display: flex;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;

}
.encabezado_imagen{
  animation-name:movimientopresentacion;
 animation-duration: 3s;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
}
.encabezado_imagen_icono{
width: 90px;
border-radius: 50%;
height: auto;
}
.encabezado_menu_barra{
  display: none;
}
.encabezado_imagen_texto{
  flex-grow: 1;
    display: flex;
    gap: 2%;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    list-style: none;
    text-decoration: none;
    align-items: center;
    flex-direction: row;
}
.encabezado_imagen_icono1{
  width: 30px;
}
.encabezado_barra{

    display: flex;
    flex-grow: 4;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    gap: 5%;
    list-style: none;
    justify-content: right;
    font-size: 24px;
    
    
}
.encabezado_barra_texto:hover{
  color: white;
  background-color: var(--secundario-color);
  border-radius: 8%;
}
.encabezado_barra_texto:focus{
  color: white;
  border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--secundario-color);
}
.encabezado_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.encabezado_menu_icono2{
    width: 40px;
    height: auto;
}
.encabezado_barra_texto{
   color: gray;
  font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}


.inicio_presentacion{
  margin-top: 5%;
 animation-name:movimientopresentacion;
 animation-duration: 3s;
}

.pie{
  font-family: 'Quicksand', sans-serif;
  line-height: 60px;
  padding-left: 5%;
  border-top-width: 1px;
    border-top-style: solid;
    border-top-color: white;
  font-size: 24px;
  
}
.pie h3{
  display: flex;
  flex-direction: row;
  gap: 3%;
}
.pie a{
  list-style: none;
  text-decoration: none;
}

/*Inicio*/
.inicio_principal{
  width: 100%;
  padding-left: 5%;
 padding-bottom: 2%;
  display: flex;
  flex-direction: column;
   gap: 5%;
}
.separar{
  width: 100%;
  height: auto;

  margin-top: 5%;
  gap:3%;
  display: flex;
  align-items: center;
}
.inicio{
  margin-left: 5%;
font-family: tillana,cursive;
}

.inicio_presentacion h2{
  color:var(--secundario-color);
  font-size: 26px;
}
.inicio_presentacion h1{
  color:var(white);
  border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--secundario-color);
  font-size: 36px;
}
.inicio_presentacion_imagen{
  border-radius: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.inicio_presentacion_imagen_detalle{
  border-radius: 50%;
  width: 100%;
  height: auto;

}
.inicio_texto{
  width: 50%;
  
  font-family: tillana,cursive;

}
.inicio_texto_detalle{
  font-size: 30px;

}



/*Proyectos*/
.proyectos{
  margin-bottom: 2%;
  margin: 5% 10% 5% 10%;
  height: auto;
  width: 100%;
  
  display: flex;
  gap: 5%;
  font-family: tillana,cursive;
}
.proyectos h1{
  font-size: 35px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--secundario-color);
}
.proyectos p{
  font-size: 20px;
}
.proyectos_izquierda{
  width: 40%;
  height: auto;
}
.proyectos_izquierda_contenido{
  width: 100%;
}
.imagen2{
  margin-top: 10px;
  width: 100%;
  height: auto;
  border-radius: 5%;
}
.proyectos_derecha{
  width: 40%;
  height: auto;
}
.proyectos_derecha_contenido{
  width: 100%;
  
}
.imagen1{
  width: 100%;
  height: auto;
  border-radius: 5%;
}
/*Herramientas*/
.he{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}
.herramientas{
  font-family: tillana,cursive;
  margin-top: 50px;
  margin-left: 100px;
width: 100%;
margin: 50px 100px 50px 100px;
height: auto;
display: flex;
flex-direction: column;
}
.herramientas_texto{
  color:var(white);
  border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--secundario-color);
  font-size: 36px;
}
.herramientas_imagen{
  text-align: center;
  width: 50%;
  margin-left:25%;

}
.herramientas_imagenes{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;


}
.herramientas_img{
  width: 50%;
}
.herramientas_txt{
  width: 25%;
}
/*CONTACTO*/
.principal{
  width: 100%;
 display:flex; 
 justify-content: center;
 font-family: 'Tillana', cursive;
 background-color: var(--principal-color);
}

.contacto {
  width: 800px;
  height:600px;
  margin: auto;
}
.contacto_form {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background-color: var(--principal-color);
  box-sizing: border-box;
  border-radius: 10px;
}
.contacto_form input {
 width: 100%;
 padding: 10px 0;
 font-size: 16px;
 color: #000000;
 margin-bottom: 30px;
 background: white;
  
}
.contacto_form textarea {
  width: 100%;
 padding: 10px 0;
 font-size: 14px;
 color: #000000;
 margin-bottom: 30px;
 background: white;
}
.titulo{
font-size: 30px;
margin-bottom: 30px;
 color:white;
 font-weight: bold;
 text-align: left;
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: var(--secundario-color);
}
.contacto_enviar {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color:var(--secundario-color);
  font-size: 20px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 15px;
  letter-spacing: 2px
}
.contacto_enviar:hover {
  background: var(--secundario-color);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secundario-color),0 0 25px var(--secundario-color),0 0 50px var(--secundario-color),0 0 100px var(--secundario-color);
}

.contacto_enviar span {
  position: absolute;
  display: block;
}

.contacto_enviar span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--secundario-color));
  animation: contacto_enviar-anim1 2s linear infinite;
}



.contacto_enviar span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--secundario-color));
  animation: contacto_enviar-anim2 2s linear infinite;
  animation-delay: .50s
}



.contacto_enviar span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--secundario-color));
  animation: contacto_enviar-anim3 2s linear infinite;
  animation-delay: 1s
}



.contacto_enviar span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent,var(--secundario-color));
  animation: contacto_enviar-anim4 2s linear infinite;
  animation-delay: 1.5s
}

@media (max-width:974px) {
  .encabezado{
      flex-direction: row-reverse;
  }
  .encabezado_imagen{

  }
  .encabezado_barra{
    display:none;
  }
  .encabezado_menu{

  }
  .separar{
    flex-direction: column;
  }
  .inicio_texto{
    width: 100%;
    height: 100%;
  }
  .inicio_texto_detalle{
    width: 100%;
    height: 100%;
  }
  .encabezado_menu:hover .encabezado_menu_barra{
    display: flex;
    flex-direction: column;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
}









